                                    TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
36. Replace every element in a list with its square.

reverse string of AMIT is TIMA

2. Check if a string is a palindrome.

In [2]:
 
s = input("enter string")

rev_str= s[::-1]
if rev_str==s:
    print("string is a palindrome.")
else:
    print("string is not a palindrome.")

enter string amit

string is not a palindrome.

3. Convert a string to uppercase.

In [3]:
s = "amit"
uppr_case = s.upper()
print(uppr_case)

AMIT

4. Convert a string to lowercase.

In [5]:
s = "AmIT"
lowr_case = s.lower()
print(lowr_case)

amit

5. Count the number of vowels in a string.

In [6]:
string = input("enter string")
vowels = "aeiouAEIOU"

count = sum(string.count(vowel) for vowel in vowels)
print(count)

enter string amit

2

6. Count the number of consonants in a string.

In [8]:
consonants=0

user_input = input("Enter a string: ")
 
string = user_input.lower()
 
for i in range(0,len(string)):  
    if string[i] not in ('a',"e","i","o","u"):  
        consonants = consonants + 1;  
 
print("The number of consonant:",consonants);

Enter a string:  ram seeta

The number of consonant: 5

7. Remove all whitespaces from a string.

In [10]:

string = "amit kumar"
 
string_new = string.replace (" ","")
 
print(string_new)

amitkumar

8. Find the length of a string without using the `len()` function.

In [12]:
str_count =input ("enter string")

count = 0

for i in str_count:
 
    count+=1
print(count)

enter string amit kumar baghel

17

9. Check if a string contains a specific word.

In [13]:
string1 = "AMIT"
string1_lower= string1.lower()
string2 = "a"
if string2 in string1_lower:
    print("found")
else:
    print("not found")

found

10. Replace a word in a string with another word.

In [14]:
string = "amit"
new_string = string.replace("amit", "amit kumar")

print(new_string)

amit kumar

11. Count the occurrences of a word in a string.

In [15]:
 
def countOccurrences(str, word):

	wordslist = list(str.split())
	return wordslist.count(word)
 
str = "dayalbgah educational institute agra "
word = "agra"
print(countOccurrences(str, word))

1

12. Find the first occurrence of a word in a string.

In [17]:
 string = 'Python programming. Network programming.'
substring = 'prog'

index = string.find(substring)
print(index)

7

13. Find the last occurrence of a word in a string.

In [19]:
str1 = "welcome to my country"

index = str1.rindex('y')
print("The last index of y in the given string is",index)

The last index of y in the given string is 20

14. Split a string into a list of words.

In [23]:
str_spilit = "hey amit how are you?"
s = str_spilit.split()
print(s)

['hey', 'amit', 'how', 'are', 'you?']

15. Join a list of words into a string.

In [1]:

Str = ["amit", "kumar","baghel"]
a = ", "
print(a.join(Str))

amit, kumar, baghel

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [5]:
s = "amit kumar baghel"
a = s.split(" ")
print(a) 
 
print("_".join(a))

['amit', 'kumar', 'baghel']
amit_kumar_baghel

17. Check if a string starts with a specific word or phrase.

In [2]:
message = 'Python is very usefull'

print(message.startswith('Python'))

True

18. Check if a string ends with a specific word or phrase.

In [1]:
message = 'Python is very usefull'

print(message.endswith('Python'))

False

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
string = "hello world"
title = '\"hello world\"'
print(title.title())

"Hello World"

20. Find the longest word in a string.

In [14]:
a = input("enter words:")
word = a.split()
longest_word = max(word, key=len)
print("this is input result:",longest_word)

enter words:  amit kumar baghel

this is input result: baghel

21. Find the shortest word in a string.

In [17]:
a = input("enter words:")
word = a.split()
longest_word = min(word, key=len)
print("this is input result:",longest_word)

enter words: amit kumar baghel

this is input result: amit

22. Reverse the order of words in a string.

In [18]:
 
string = "amit kumar baghel is very good"
 
s = string.split()[::-1]
l = []
for i in s:
	 
	l.append(i)
 
print(" ".join(l))

good very is baghel kumar amit

23. Check if a string is alphanumeric.

In [19]:
def is_alphanumeric(input_string):
    return input_string.isalnum()

user_input = input("Enter a string: ")

if is_alphanumeric(user_input):
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

Enter a string:  amit kumar baghel is very good

The string is not alphanumeric.

24. Extract all digits from a string.

In [20]:
def extract_digits(input_string):
    return ''.join(char for char in input_string if char.isdigit())

user_input = input("Enter a string: ")
digits = extract_digits(user_input)

print("Extracted digits:", digits)

Enter a string:  amit 19

Extracted digits: 19

25. Extract all alphabets from a string.

In [21]:
def extract_alphabets(input_string):
    return ''.join(char for char in input_string if char.isalpha())

 user_input = input("Enter a string: ")
alphabets = extract_alphabets(user_input)

print("Extracted alphabets:", alphabets)

Enter a string:  amit kumar 1996, 01

Extracted alphabets: amitkumar

26. Count the number of uppercase letters in a string.

In [22]:
def count_uppercase_letters(input_string):
    return sum(1 for char in input_string if char.isupper())

user_input = input("Enter a string: ")
uppercase_count = count_uppercase_letters(user_input)

print("Number of uppercase letters:", uppercase_count)

Enter a string:  AMIt kuMAR BagHEL

Number of uppercase letters: 10

27. Count the number of lowercase letters in a string.

In [ ]:
def count_lowercase_letters(input_string):
    return sum(1 for char in input_string if char.islower())

# Example usage:
user_input = input("Enter a string: ")
lowercase_count = count_lowercase_letters(user_input)

print("Number of lowercase letters:", lowercase_count)

Enter a string:  amit KumaR

Number of lowercase letters: 7

28. Swap the case of each character in a string.

In [25]:
def swap_case(input_string):
    return input_string.swapcase()

user_input = input("Enter a string: ")
swapped_string = swap_case(user_input)

print("Swapped case:", swapped_string)

Enter a string:  Amit KUmaR

Swapped case: aMIT kuMAr

29. Remove a specific word from a string.

In [29]:
def remove_word(input_string, word_to_remove):
    return input_string.replace(word_to_remove, '')
 
user_input = input("Enter a string: ")
word_to_remove = input("Enter the word to remove: ")

result_string = remove_word(user_input, word_to_remove)

print("String after removal:", result_string)

Enter a string:   amit kumar baghel
Enter the word to remove:  it

String after removal:  am kumar baghel

30. Check if a string is a valid email address.

In [34]:
import re

def solve(s):
   pat = "^[a-zA-Z0-9-_]+@[a-zA-Z0-9]+\.[a-z]{1,3}$"
   if re.match(pat,s):
      return True
   return False

s = "popular_website15@comPany.com"
print(solve(s))

True

31. Extract the username from an email address string.

In [35]:
def extract_username(email):
    parts = email.split('@')
    username = parts[0]
    
    return username
user_email = input("Enter an email address: ")

username = extract_username(user_email)

print("Extracted username:", username)

Enter an email address:  amitbaghel096

Extracted username: amitbaghel096

32. Extract the domain name from an email address string.

In [37]:
 def extract_domain(email):
  
    parts = email.split('@')
    domain = parts[1]
    
    return domain
 
user_email = input("Enter an email address: ")

domain = extract_domain(user_email)

print("Extracted domain:", domain)

Enter an email address:  amitbaghel096@gmail.com

Extracted domain: gmail.com

33. Replace multiple spaces in a string with a single space.

In [41]:
def replace_multiple_spaces(input_string):
    words = input_string.split(' ')
     
    result_string = ' '.join(filter(None, words))
    
    return result_string

user_input = input("Enter a string: ")
result_string = replace_multiple_spaces(user_input)

print("String with single spaces:", result_string)

Enter a string:  amit    kumar      baghel

String with single spaces: amit kumar baghel

34. Check if a string is a valid URL.

In [42]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

user_url = input("Enter a URL: ")

if is_valid_url(user_url):
    print("The URL is valid.")
else:
    print("The URL is not valid.")

Enter a URL:  https://lab.pwskills.com/my-labs

The URL is valid.

35. Extract the protocol (http or https) from a URL string.

In [1]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme

user_url = input("Enter a URL: ")

protocol = extract_protocol(user_url)

if protocol:
    print("Extracted protocol:", protocol)
else:
    print("Invalid URL or no protocol found.")

Enter a URL:  https://lab.pwskills.com/my-labs

Extracted protocol: https

36. Find the frequency of each character in a string.

In [2]:
def character_frequency(input_string):
    frequency_dict = {}

    for char in input_string:
        if char in frequency_dict:
            frequency_dict[char] += 1
        else:
            frequency_dict[char] = 1

    return frequency_dict

user_input = input("Enter a string: ")
frequency_result = character_frequency(user_input)

print("Character frequency:")
for char, count in frequency_result.items():
    print(f"{char}: {count}")

Enter a string:  amit kumar

Character frequency:
a: 2
m: 2
i: 1
t: 1
 : 1
k: 1
u: 1
r: 1

37. Remove all punctuation from a string.

In [3]:
import string

def remove_punctuation(input_string):
    return ''.join(char for char in input_string if char not in string.punctuation)

user_input = input("Enter a string: ")
result_string = remove_punctuation(user_input)

print("String without punctuation:", result_string)

Enter a string:  amit kumar baghel

String without punctuation: amit kumar baghel

38. Check if a string contains only digits.

In [8]:
def contains_only_digits(input_string):
    return input_string.isdigit()

user_input = input("Enter a string: ")

if contains_only_digits(user_input):
    print("The string contains only digits.")
else:
    print("The string contains characters other than digits.")

Enter a string:  516546548974

The string contains only digits.

39. Check if a string contains only alphabets.

In [9]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()

# Example usage:
user_input = input("Enter a string: ")

if contains_only_alphabets(user_input):
    print("The string contains only alphabets.")
else:
    print("The string contains characters other than alphabets.")

Enter a string:  amit kumar1996

The string contains characters other than alphabets.

40. Convert a string to a list of characters.

In [12]:
input_string = "Amit Baghel"
character_list = [char for char in input_string]

print("List of characters:", character_list)

List of characters: ['A', 'm', 'i', 't', ' ', 'B', 'a', 'g', 'h', 'e', 'l']

41. Check if two strings are anagrams.

In [13]:
def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")

if are_anagrams(string1, string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

Enter the first string:   with the red jacket
Enter the second string:  Filled with joy

The strings are not anagrams.

42. Encode a string using a Caesar cipher.

In [16]:
 def encrypt_text(plaintext,n):
    ans = ""
    # iterate over the given text
    for i in range(len(plaintext)):
        ch = plaintext[i]
        
        # check if space is there then simply add space
        if ch==" ":
            ans+=" "
        # check if a character is uppercase then encrypt it accordingly 
        elif (ch.isupper()):
            ans += chr((ord(ch) + n-65) % 26 + 65)
        # check if a character is lowercase then encrypt it accordingly
        
        else:
            ans += chr((ord(ch) + n-97) % 26 + 97)
    
    return ans

plaintext = "HELLO EVERYONE"
n = 1
print("Plain Text is : " + plaintext)
print("Shift pattern is : " + str(n))
print("Cipher Text is : " + encrypt_text(plaintext,n))

Enter the plaintext:   asdfghjklasdfgh
Enter the shift value:  56

Encrypted text:  ewhjklnopewhjkl

43. Decode a Caesar cipher encoded string

In [19]:
def caesar_cipher_decrypt(ciphertext, shift):
    decrypted_text = ""

    for char in ciphertext:
        if char.isalpha():
            # Determine the case of the character (uppercase or lowercase)
            is_upper = char.isupper()

            # Shift the character back by the specified amount
            char_code = ord(char)
            decrypted_char_code = (char_code - ord('A' if is_upper else 'a') - shift) % 26 + ord('A' if is_upper else 'a')

            # Append the decrypted character to the result string
            decrypted_text += chr(decrypted_char_code)
        else:
            # If the character is not a letter, leave it unchanged
            decrypted_text += char

    return decrypted_text

# Example usage:
ciphertext = input("Enter the ciphertext: ")
shift = int(input("Enter the shift value: "))

decrypted_text = caesar_cipher_decrypt(ciphertext, shift)

print("Decrypted text:", decrypted_text)

Enter the ciphertext:  amit kumar baghel
Enter the shift value:  1996

Decrypted text: gsoz qasgx hgmnkr

44.Find the most frequent word in a string.

In [20]:
def most_frequent_word(input_string):
    word_frequency = {}
    
    cleaned_string = ''.join(char.lower() if char.isalpha() or char.isspace() else ' ' for char in input_string)
    
    words = cleaned_string.split()
    
    for word in words:
        if word in word_frequency:
            word_frequency[word] += 1
        else:
            word_frequency[word] = 1
    
    most_frequent = max(word_frequency, key=word_frequency.get)
    
    return most_frequent

user_input = input("Enter a string: ")
result_word = most_frequent_word(user_input)

print("Most frequent word:", result_word)

Enter a string:  amit b gahel

Most frequent word: amit

45. Find all unique words in a string.

In [21]:
def unique_words(input_string):
    
    cleaned_string = ''.join(char.lower() if char.isalpha() or char.isspace() else ' ' for char in input_string)
    words = cleaned_string.split()
    unique_word_set = set(words)

    return unique_word_set

user_input = input("Enter a string: ")
result_unique_words = unique_words(user_input)

print("Unique words:", result_unique_words)

Enter a string:  amit baghel kumar

Unique words: {'kumar', 'amit', 'baghel'}

46. Count the number of syllables in a string.

In [22]:
def count_syllables(word):
    vowels = "aeiouy"
    count = 0
    is_vowel = False

    for char in word.lower():
        if char in vowels:
            if not is_vowel:
                count += 1
                is_vowel = True
        else:
            is_vowel = False

    return count

def total_syllables(text):
    words = text.split()
    return sum(count_syllables(word) for word in words)

user_input = input("Enter a string: ")
syllable_count = total_syllables(user_input)

print("Number of syllables:", syllable_count)

Enter a string:  amit kumar baghel

Number of syllables: 6

47. Check if a string contains any special characters.

In [23]:
import re

def contains_special_characters(input_string):
    pattern = re.compile('[^a-zA-Z0-9]')
    return bool(pattern.search(input_string))

user_input = input("Enter a string: ")

if contains_special_characters(user_input):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

Enter a string:  amit @kumar#baghel

The string contains special characters.

48. Remove the nth word from a string.

In [26]:
def remove_nth_word(input_string, n):
    words = input_string.split()

    if 1 <= n <= len(words):
        del words[n - 1]
        result_string = ' '.join(words)
        return result_string
    else:
        return "Invalid value of n"
 
user_input = input("Enter a string: ")
nth_word_to_remove = int(input("Enter the position of the word to remove (1-based index): "))

result_string = remove_nth_word(user_input, nth_word_to_remove)

print("String after removing the nth word:", result_string)

Enter a string:  amit kumar baghel
Enter the position of the word to remove (1-based index):  7

String after removing the nth word: Invalid value of n

49. Insert a word at the nth position in a string.

In [27]:
def insert_word_at_position(input_string, n, new_word):
    words = input_string.split()

    if 1 <= n <= len(words) + 1:        
        words.insert(n - 1, new_word)
        result_string = ' '.join(words)
        return result_string
    else:
        return "Invalid position for insertion"

user_input = input("Enter a string: ")
position_to_insert = int(input("Enter the position to insert the word (1-based index): "))
word_to_insert = input("Enter the word to insert: ")

result_string = insert_word_at_position(user_input, position_to_insert, word_to_insert)

print("String after inserting the word:", result_string)

Enter a string:  amit kumar baghel
Enter the position to insert the word (1-based index):  5
Enter the word to insert:  g

String after inserting the word: Invalid position for insertion

50. Convert a CSV string to a list of lists.

In [ ]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    csv_reader = csv.reader(StringIO(csv_string))
    csv_list = list(csv_reader)

    return csv_list
csv_input = input("Enter a CSV string: ")
result_list = csv_string_to_list(csv_input)

print("List of lists:", result_list)

Enter a CSV string:  amit kumar bafhel

List of lists: [['amit kumar bafhel']]

                                         topic: List Based Practice Problem

1. Create a list with integers from 1 to 10.

In [1]:
my_list = list(range(1, 11))

print("List with integers from 1 to 10:", my_list)

List with integers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [6]:
s = input("enter the string")
def len_input(s):
    count = 0
    for i in s:
        count +=1
    return count
list_of_word = len_input(s)
print("lenth of word are:",list_of_word)

enter the string amit kumar baghel

lenth of word are: 17

3. Append an element to the end of a list.

In [9]:
my_list = ["amit","kumar"]
new_element = "baghel"
my_list.append(new_element)

print("List after appending element:", my_list)

List after appending element: ['amit', 'kumar', 'baghel']

4. Insert an element at a specific index in a list.

In [10]:
my_list = [1, 2, 3, 4, 5]
new_element = 11
index_to_insert = 2
 
my_list.insert(index_to_insert, new_element)

print("List after inserting element:", my_list)

List after inserting element: [1, 2, 11, 3, 4, 5]

5. Remove an element from a list by its value.

In [11]:
my_list = [1, 2, 11, 22, 4, 5]
value_to_remove = 4
 
my_list.remove(value_to_remove)

print("List after removing element:", my_list)

List after removing element: [1, 2, 11, 22, 5]

6. Remove an element from a list by its index.

In [12]:
my_list = [1, 2, 3, 4, 5]
index_to_remove = 2
 
removed_element = my_list.pop(index_to_remove)

print("List after removing element:", my_list)
print("Removed element:", removed_element)

List after removing element: [1, 2, 4, 5]
Removed element: 3

7. Check if an element exists in a list.

In [25]:
my_list = [1, 2, 3, 11, 5]
element_to_check = 11
 
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

11 exists in the list.

8. Find the index of the first occurrence of an element in a list.

In [26]:
my_list = [1, 2, 3, 4, 5, 3]
element_to_find = 3
index_of_element = my_list.index(element_to_find)

print(f"The index of the first occurrence of {element_to_find} is: {index_of_element}")

The index of the first occurrence of 3 is: 2

9. Count the occurrences of an element in a list.

In [28]:
my_list = [1, 2, 3, 4, 5, 3, 3]
element_to_count = 3
count_of_element = my_list.count(element_to_count)

print(f"The element {element_to_count} occurs {count_of_element} times in the list.")

The element 3 occurs 3 times in the list.

10. Reverse the order of elements in a list.

In [30]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()

print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [1]:
sort_a= [1,5,8,6,7,2,9]
sort_a.sort()
print("ascending order:", sort_a)

ascending order: [1, 2, 5, 6, 7, 8, 9]

12. Sort a list in descending order.

In [4]:
sort_a= [1,5,8,6,7,2,9]
sort_a.sort(reverse=True)
print("ascending order:", sort_a)

ascending order: [9, 8, 7, 6, 5, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [10]:
odd_numbers = list(range(1, 21, 2))

print("List of odd numbers from 1 to 20:", odd_numbers)

List of odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

14. Create a list of odd numbers from 1 to 20.

In [22]:
odd_numbers = list(range(1, 21, 2))

print("List of odd numbers from 1 to 20:", odd_numbers)

List of odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [23]:
my_list = [1, 2, 3, 4, 5]
 
sum_of_elements = sum(my_list)

print("Sum of all elements:", sum_of_elements)

Sum of all elements: 15

16. Find the maximum value in a list.

In [24]:
my_list = [3, 7, 1, 9, 4, 6]
max_value = max(my_list)

print("Maximum value:", max_value)

Maximum value: 9

17. Find the minimum value in a list.

In [25]:
my_list = [3, 7, 1, 9, 4, 6]
 
min_value = min(my_list)

print("Minimum value:", min_value)

Minimum value: 1

18. Create a list of squares of numbers from 1 to 10.

In [25]:
squares_list = [x**2 for x in range(1, 11)]

print("List of squares of numbers from 1 to 10:", squares_list)

List of squares of numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [27]:
import random
 
random_numbers = [random.randint(1, 10) for _ in range(5)]

print("List of random numbers:", random_numbers)

List of random numbers: [5, 7, 6, 6, 2]

20. Remove duplicates from a list.

In [30]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)

print("List after removing duplicates:", unique_list)

List after removing duplicates: [1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [29]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
 
common_elements = list(set(list1).intersection(list2))

print("Common elements between the two lists:", common_elements)

Common elements between the two lists: [3, 4, 5]

22. Find the difference between two lists.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

difference_list = [item for item in list1 + list2 if item not in list1 or item not in list2]

print("Difference between the two lists:", difference_list)

Difference between the two lists: [1, 2, 6, 7]

23. Merge two lists.

In [34]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
 
list1.extend(list2)

print("Merged list:", list1)

Merged list: [1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [35]:
original_list = [1, 2, 3, 4, 5]
 
doubled_list = [element * 2 for element in original_list]

print("Original list:", original_list)
print("Doubled list:", doubled_list)

Original list: [1, 2, 3, 4, 5]
Doubled list: [2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [36]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 
filtered_list = [number for number in original_list if number % 2 != 0]

print("Original list:", original_list)
print("Filtered list (without even numbers):", filtered_list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Filtered list (without even numbers): [1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [39]:
string_list = ['1', '2', '3', '4', '5']
 
integer_list = [int(element) for element in string_list]

print("Original list of strings:", string_list)
print("Converted list of integers:", integer_list)

Original list of strings: ['1', '2', '3', '4', '5']
Converted list of integers: [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [40]:
integer_list = [1, 2, 3, 4, 5]

# Convert the list of integers to a list of strings
string_list = [str(element) for element in integer_list]

print("Original list of integers:", integer_list)
print("Converted list of strings:", string_list)

Original list of integers: [1, 2, 3, 4, 5]
Converted list of strings: ['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [41]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Flatten the nested list using list comprehension
flattened_list = [item for sublist in nested_list for item in sublist]

print("Original nested list:", nested_list)
print("Flattened list:", flattened_list)

Original nested list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [42]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    while len(fibonacci_list) < n:
        next_number = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_number)
    return fibonacci_list

# Generate the first 10 Fibonacci numbers
first_10_fibonacci = generate_fibonacci(10)

print("First 10 Fibonacci numbers:", first_10_fibonacci)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [30]:
def is_sorted(input_list):
    return all(input_list[i] <= input_list[i + 1] for i in range(len(input_list) - 1))

# Example usage
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [5, 2, 8, 1, 3]

print("Is sorted:", is_sorted(sorted_list))
print("Is sorted:", is_sorted(unsorted_list))

Is sorted: True
Is sorted: False

31. Rotate a list to the left by `n` positions.

In [51]:
def rotate_left(input_list, n):
    n = n % len(input_list)   
    return input_list[n:] + input_list[:n]
 
original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_left(original_list, 2)

print("Original list:", original_list)
print("Rotated list:", rotated_list)

Original list: [1, 2, 3, 4, 5]
Rotated list: [3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [52]:
def rotate_right(input_list, n):
    n = n % len(input_list) 
    return input_list[-n:] + input_list[:-n]
 
original_list = [1, 2, 3, 4, 5]
 
rotated_list = rotate_right(original_list, 2)

print("Original list:", original_list)
print("Rotated list:", rotated_list)

Original list: [1, 2, 3, 4, 5]
Rotated list: [4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [31]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [1]:
def chunk_list(input_list, chunk_size):
 
    return [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3
result = chunk_list(my_list, chunk_size)
print(result)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

35. Find the second largest number in a list.

In [2]:
def find_second_largest(numbers):
    if len(numbers) < 2:
        return "List must have at least two elements"

    max_num = max(numbers)
    numbers.remove(max_num)
    second_largest = max(numbers)

    return second_largest
my_numbers = [10, 5, 8, 20, 15]
result = find_second_largest(my_numbers)
print("Second largest number:", result)

Second largest number: 15

36. Replace every element in a list with its square.

In [3]:
def square_elements(input_list):
 
    return [x**2 for x in input_list]
 
my_list = [1, 2, 3, 4, 5]
result = square_elements(my_list)
print(result)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [4]:
def list_to_dict(input_list):

    return {element: index for index, element in enumerate(input_list)}

my_list = ['apple', 'banana', 'orange', 'grape']
result_dict = list_to_dict(my_list)
print(result_dict)

{'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

38. Shuffle the elements of a list randomly.

In [9]:
import random

my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)

print("Shuffled List:", my_list)

Shuffled List: [5, 1, 3, 2, 4]

39. Create a list of the first 10 factorial numbers.

In [10]:
import math
 
def factorial(n):
    return math.factorial(n)
factorial_list = [factorial(i) for i in range(10)]

print("List of the first 10 factorial numbers:", factorial_list)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [11]:
def have_common_element(list1, list2):
    return any(element in list2 for element in list1)

list_a = [1, 2, 3, 4, 5]
list_b = [5, 6, 7, 8, 9]
result = have_common_element(list_a, list_b)

if result:
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

41. Remove all elements from a list.

In [12]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()

print("List after removing all elements:", my_list)

List after removing all elements: []

42. Replace negative numbers in a list with 0.

In [13]:
original_list = [1, -2, 3, -4, 5, -6]
modified_list = [0 if num < 0 else num for num in original_list]

print("Original List:", original_list)
print("Modified List (negative numbers replaced with 0):", modified_list)

Original List: [1, -2, 3, -4, 5, -6]
Modified List (negative numbers replaced with 0): [1, 0, 3, 0, 5, 0]

43. Convert a string into a list of words.

In [15]:
my_string = "amit kumar"
word_list = my_string.split()

print("Original String:", my_string)
print("List of Words:", word_list)

Original String: amit kumar
List of Words: ['amit', 'kumar']

44. Convert a list of words into a string.

In [16]:
word_list = ["apple", "banana", "orange"]
result_string = ', '.join(word_list)

print("List of Words:", word_list)
print("Resulting String:", result_string)

List of Words: ['apple', 'banana', 'orange']
Resulting String: apple, banana, orange

45. Create a list of the first `n` powers of 2.

In [17]:
n = 5  
powers_of_2 = [2**i for i in range(n)]

print("List of the first", n, "powers of 2:", powers_of_2)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [18]:
string_list = []

if string_list:
    longest_string = max(string_list, key=len)
    print("List of Strings:", string_list)
    print("Longest String:", longest_string)
else:
    print("The list is empty.")

The list is empty.

47. Find the shortest string in a list of strings.

In [19]:
string_list = []

if string_list:
    shortest_string = min(string_list, key=len)
    print("List of Strings:", string_list)
    print("Shortest String:", shortest_string)
else:
    print("The list is empty.")

The list is empty.

 48. Create a list of the first `n` triangular numbers.

In [1]:
n = 5  
triangular_numbers = [sum(range(1, i + 1)) for i in range(1, n + 1)]

print("List of the first", n, "triangular numbers:", triangular_numbers)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [6]:
def is_subsequence(subsequence, larger_list):
    # Initialize indices for both lists
    subseq_index = 0
    larger_index = 0

    # Iterate through the larger list
    while larger_index < len(larger_list) and subseq_index < len(subsequence):
         
        if subsequence[subseq_index] == larger_list[larger_index]:
            subseq_index += 1
 
        larger_index += 1
    return subseq_index == len(subsequence)

larger_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
subsequence_to_check = [3, 5, 8]

result = is_subsequence(subsequence_to_check, larger_list)

if result:
    print("The subsequence is present in the larger list.")
else:
    print("The subsequence is not present in the larger list.")

The subsequence is present in the larger list.

50. Swap two elements in a list by their indices.

In [7]:
def swap_elements(lst, index1, index2):
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
       
        temp = lst[index1]
        lst[index1] = lst[index2]
        lst[index2] = temp
    else:
        print("Invalid indices. Unable to swap elements.")

 
my_list = [1, 2, 3, 4, 5]

print("Original List:", my_list)

# Swap elements at indices 1 and 3
swap_elements(my_list, 1, 3)

print("List after swapping elements:", my_list)

Original List: [1, 2, 3, 4, 5]
List after swapping elements: [1, 4, 3, 2, 5]

                                            Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [8]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [2]:
my_tuple = (10, 20, 30, 40, 50)
 
third_element = my_tuple[2]
print(third_element)

30

3. Find the length of a tuple without using the `len()` function.

In [3]:
my_tuple = (10, 20, 30, 40, 50)
tuple_length = 0
for _ in my_tuple:
    tuple_length += 1

 
print("Length of the tuple:", tuple_length)

Length of the tuple: 5

4. Count the occurrences of an element in a tuple.

In [4]:
my_tuple = (10, 20, 30, 40, 30, 50, 30)
element_to_count = 30
count = 0

for item in my_tuple:
    if item == element_to_count:
        count += 1
print("Occurrences of", element_to_count, "in the tuple:", count)

Occurrences of 30 in the tuple: 3

5. Find the index of the first occurrence of an element in a tuple.

In [5]:
my_tuple = (10, 20, 30, 40, 30, 50, 30)
element_to_find = 30
index = None
for i in range(len(my_tuple)):
    if my_tuple[i] == element_to_find:
        index = i
        break  
if index is not None:
    print("Index of the first occurrence of", element_to_find, "in the tuple:", index)
else:
    print(element_to_find, "not found in the tuple.")

Index of the first occurrence of 30 in the tuple: 2

6. Check if an element exists in a tuple.

In [6]:
my_tuple = (10, 20, 30, 40, 50)
element_to_check = 30
element_exists = False
for item in my_tuple:
    if item == element_to_check:
        element_exists = True
        break   

if element_exists:
    print(element_to_check, "exists in the tuple.")
else:
    print(element_to_check, "does not exist in the tuple.")

30 exists in the tuple.

7. Convert a tuple to a list.

In [7]:
my_tuple = (10, 20, 30, 40, 50)
my_list = list(my_tuple)
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

8. Convert a list to a tuple.

In [8]:
my_list = [10, 20, 30, 40, 50]
 
my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

9. Unpack the elements of a tuple into variables.

In [9]:
my_tuple = (10, 20, 30)
var1, var2, var3 = my_tuple

print("Variable 1:", var1)
print("Variable 2:", var2)
print("Variable 3:", var3)

Variable 1: 10
Variable 2: 20
Variable 3: 30

10. Create a tuple of even numbers from 1 to 10.

In [11]:
even_numbers_tuple = tuple(x for x in range(2, 11, 2))
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [14]:
 
odd_numbers_tuple = tuple(x for x in range(1, 11, 2))
 
print("Tuple of odd numbers:", odd_numbers_tuple)

Tuple of odd numbers: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [17]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2

print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [18]:
original_tuple = (1, 2, 3)
 
repeated_tuple = original_tuple * 3
  
print("Original tuple:", original_tuple)
print("Repeated tuple three times:", repeated_tuple)

Original tuple: (1, 2, 3)
Repeated tuple three times: (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [19]:
my_tuple = ()
if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

15. Create a nested tuple.

In [21]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print("Nested Tuple:", nested_tuple)

Nested Tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [23]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
first_element = nested_tuple[0][0]

print("First element of the nested tuple:", first_element)

First element of the nested tuple: 1

17. Create a tuple with a single element.

In [24]:
single_element_tuple = (42,)
print("Tuple with a single element:", single_element_tuple)

Tuple with a single element: (42,)

18. Compare two tuples.

In [25]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
if tuple1 == tuple2:
    print("Tuples are equal.")
else:
    print("Tuples are not equal.")

Tuples are equal.

19. Delete a tuple.

In [30]:
my_tuple = (1, 2, 3, 4, 5)
del my_tuple

20. Slice a tuple.

In [31]:
my_tuple = (10, 20, 30, 40, 50)
sliced_tuple = my_tuple[1:4]
print("Original tuple:", my_tuple)
print("Sliced tuple:", sliced_tuple)

Original tuple: (10, 20, 30, 40, 50)
Sliced tuple: (20, 30, 40)

21. Find the maximum value in a tuple.

In [32]:
my_tuple = (10, 45, 23, 67, 89, 12)
max_value = max(my_tuple)
print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 89

22. Find the minimum value in a tuple.

In [33]:
my_tuple = (10, 45, 23, 67, 89, 12)
min_value = min(my_tuple)
print("Minimum value in the tuple:", min_value)

Minimum value in the tuple: 10

23. Convert a string to a tuple of characters.

In [34]:
my_string = "Hello, World!"
char_tuple = tuple(my_string)

print("String:", my_string)
print("Tuple of characters:", char_tuple)

String: Hello, World!
Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string.

In [36]:
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!') 
resulting_string = ''.join(char_tuple)

print("Tuple of characters:", char_tuple)
print("Resulting string:", resulting_string)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')
Resulting string: Hello, World!

25. Create a tuple from multiple data types.

In [37]:
mixed_tuple = (1, 'hello', 3.14, True)
print("Mixed Tuple:", mixed_tuple)

Mixed Tuple: (1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [38]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
if tuple1 == tuple2:
    print("Tuples are identical.")
else:
    print("Tuples are not identical.")

Tuples are identical.

27. Sort the elements of a tuple.

In [39]:
my_tuple = (4, 2, 8, 1, 6)
sorted_tuple = tuple(sorted(list(my_tuple)))

print("Original tuple:", my_tuple)
print("Sorted tuple:", sorted_tuple)

Original tuple: (4, 2, 8, 1, 6)
Sorted tuple: (1, 2, 4, 6, 8)

28. Convert a tuple of integers to a tuple of strings.

In [40]:
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = tuple(map(str, tuple_of_integers))

print("Tuple of integers:", tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

Tuple of integers: (1, 2, 3, 4, 5)
Tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [41]:
tuple_of_strings = ('1', '2', '3', '4', '5')
tuple_of_integers = tuple(map(int, tuple_of_strings))
 
print("Tuple of strings:", tuple_of_strings)
print("Tuple of integers:", tuple_of_integers)

Tuple of strings: ('1', '2', '3', '4', '5')
Tuple of integers: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [42]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

merged_tuple = tuple1 + tuple2

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Merged tuple:", merged_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: ('a', 'b', 'c')
Merged tuple: (1, 2, 3, 'a', 'b', 'c')

31. Flatten a nested tuple.

In [43]:
from itertools import chain
 
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

flattened_tuple = tuple(chain(*nested_tuple))
print("Nested Tuple:", nested_tuple)
print("Flattened Tuple:", flattened_tuple)

Nested Tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))
Flattened Tuple: (1, 2, 3, 'a', 'b', 'c', True, False)

32. Create a tuple of the first 5 prime numbers.

In [44]:
prime_numbers = (2, 3, 5, 7, 11)

print("Tuple of the first 5 prime numbers:", prime_numbers)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [ ]:
def is_palindrome(t):
    return t == t[::-1]
palindrome_tuple = (1, 2, 3, 4, 3, 2, 1)
print("Is the tuple a palindrome?", is_palindrome(palindrome_tuple))
 
non_palindrome_tuple = (1, 2, 3, 4, 5)
print("Is the tuple a palindrome?", is_palindrome(non_palindrome_tuple))

34. Create a tuple of squares of numbers from 1 to 5.

In [47]:
squares_tuple = tuple(x**2 for x in range(1, 6))

print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [48]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

print("Original tuple:", original_tuple)
print("Filtered tuple (odd numbers only):", filtered_tuple)

Original tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Filtered tuple (odd numbers only): (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [49]:
original_tuple = (1, 2, 3, 4, 5)
multiplied_tuple = tuple(x * 2 for x in original_tuple)
 
print("Original tuple:", original_tuple)
print("Multiplied tuple:", multiplied_tuple)

Original tuple: (1, 2, 3, 4, 5)
Multiplied tuple: (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [50]:
import random
random_numbers_tuple = tuple(random.uniform(0, 1) for _ in range(5))

print("Tuple of random numbers:", random_numbers_tuple)

Tuple of random numbers: (0.22501415149713322, 0.628740190193067, 0.2138731038040742, 0.9090337207243792, 0.7550388729814095)

38. Check if a tuple is sorted.

In [51]:
def is_sorted(t):
    return t == tuple(sorted(t))
sorted_tuple = (1, 2, 3, 4, 5)
print("Is the tuple sorted?", is_sorted(sorted_tuple))

unsorted_tuple = (5, 2, 8, 1, 3)
print("Is the tuple sorted?", is_sorted(unsorted_tuple))

Is the tuple sorted? True
Is the tuple sorted? False

39. Rotate a tuple to the left by `n` positions.

In [52]:
def rotate_left(t, n):
    n = n % len(t)  
    rotated_tuple = t[n:] + t[:n]
    return rotated_tuple

original_tuple = (1, 2, 3, 4, 5)
n_positions = 2
rotated_tuple = rotate_left(original_tuple, n_positions)
 
print("Original tuple:", original_tuple)
print(f"Rotated left by {n_positions} positions:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated left by 2 positions: (3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [53]:
def rotate_right(t, n):
    n = n % len(t)  
    rotated_tuple = t[-n:] + t[:-n]
    return rotated_tuple
original_tuple = (1, 2, 3, 4, 5)
n_positions = 2
rotated_tuple = rotate_right(original_tuple, n_positions)
 
print("Original tuple:", original_tuple)
print(f"Rotated right by {n_positions} positions:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated right by 2 positions: (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [54]:
def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]
    while len(fibonacci_numbers) < n:
        next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_number)
    return tuple(fibonacci_numbers)
first_five_fibonacci = generate_fibonacci(5)
print("Tuple of the first 5 Fibonacci numbers:", first_five_fibonacci)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [60]:
input_string = input("Enter elements of the tuple separated by spaces: ")
input_list = input_string.split()

user_tuple = tuple(map(int, input_list))
 
print("User input as a tuple:", user_tuple)

Enter elements of the tuple separated by spaces:  (1,5,5,8,8)

ValueError: invalid literal for int() with base 10: '(1,5,5,8,8)'

43. Swap two elements in a tuple.

In [61]:
def swap_elements(t, index1, index2):
    t_list = list(t)
 
    t_list[index1], t_list[index2] = t_list[index2], t_list[index1]
    swapped_tuple = tuple(t_list)
    
    return swapped_tuple

original_tuple = (1, 2, 3, 4, 5)
index_to_swap1 = 1
index_to_swap2 = 3

swapped_tuple = swap_elements(original_tuple, index_to_swap1, index_to_swap2)
 
print("Original tuple:", original_tuple)
print(f"Tuple after swapping elements at indices {index_to_swap1} and {index_to_swap2}:", swapped_tuple)

Original tuple: (1, 2, 3, 4, 5)
Tuple after swapping elements at indices 1 and 3: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [62]:
def reverse_tuple(t):
    reversed_tuple = t[::-1]
    return reversed_tuple
original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(original_tuple)
 
print("Original tuple:", original_tuple)
print("Reversed tuple:", reversed_tuple)

Original tuple: (1, 2, 3, 4, 5)
Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [63]:
def generate_powers_of_2(n):
    powers_of_2 = tuple(2 ** i for i in range(n))
    return powers_of_2
first_five_powers_of_2 = generate_powers_of_2(5)
print("Tuple of the first 5 powers of 2:", first_five_powers_of_2)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [64]:
def find_longest_string(tuple_of_strings):
    longest_string = max(tuple_of_strings, key=len)
    return longest_string
string_tuple = ("apple", "banana", "kiwi", "orange", "strawberry")
longest_string = find_longest_string(string_tuple)
print("Tuple of strings:", string_tuple)
print("Longest string:", longest_string)

Tuple of strings: ('apple', 'banana', 'kiwi', 'orange', 'strawberry')
Longest string: strawberry

47. Find the shortest string in a tuple of strings.

In [66]:
def find_shortest_string(tuple_of_strings):
    shortest_string = min(tuple_of_strings, key=len)
    return shortest_string
string_tuple = ("apple", "banana", "kiwi", "orange", "strawberry")
shortest_string = find_shortest_string(string_tuple)
print("Tuple of strings:", string_tuple)
print("Shortest string:", shortest_string)

Tuple of strings: ('apple', 'banana', 'kiwi', 'orange', 'strawberry')
Shortest string: kiwi

48. Create a tuple of the first `n` triangular numbers.

In [67]:
def generate_triangular_numbers(n):
    triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
    return triangular_numbers
first_five_triangular_numbers = generate_triangular_numbers(5)

print("Tuple of the first 5 triangular numbers:", first_five_triangular_numbers)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [68]:
def contains_subsequence(main_tuple, sub_tuple):
    len_main = len(main_tuple)
    len_sub = len(sub_tuple)

    for i in range(len_main - len_sub + 1):
        if main_tuple[i:i + len_sub] == sub_tuple:
            return True

    return False
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
sub_tuple = (3, 4, 5)
result = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple:", main_tuple)
print("Sub tuple:", sub_tuple)
print("Contains subsequence:", result)

Main tuple: (1, 2, 3, 4, 5, 6, 7, 8)
Sub tuple: (3, 4, 5)
Contains subsequence: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [69]:
def alternating_ones_zeros(n):
    alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
    return alternating_tuple
result_tuple = alternating_ones_zeros(8)
print("Tuple of alternating 1s and 0s:", result_tuple)

Tuple of alternating 1s and 0s: (1, 0, 1, 0, 1, 0, 1, 0)

                                          Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [70]:
my_set_1 = {1, 2, 3, 4, 5}

my_set_2 = set([1, 2, 3, 4, 5])
print("Set using curly braces:", my_set_1)
print("Set using set() constructor:", my_set_2)

Set using curly braces: {1, 2, 3, 4, 5}
Set using set() constructor: {1, 2, 3, 4, 5}

2. Add an element to a set.

In [71]:
my_set = {1, 2, 3, 4, 5}
my_set.update({6, 7, 8})
 
print("Updated set:", my_set)

Updated set: {1, 2, 3, 4, 5, 6, 7, 8}

3. Remove an element from a set.

In [72]:
 
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
 
print("Updated set (after using remove):", my_set)
try:
    my_set.remove(10)
except KeyError as e:
    print(f"Error: {e}")
my_set.discard(4)

print("Updated set (after using discard):", my_set)
my_set.discard(2)

print("Updated set (after using discard):", my_set)

Updated set (after using remove): {1, 2, 4, 5}
Error: 10
Updated set (after using discard): {1, 2, 5}
Updated set (after using discard): {1, 5}

4. Check if an element exists in a set.

In [73]:
my_set = {1, 2, 3, 4, 5}

element_to_check = 3

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

5. Find the length of a set without using the `len()` function.

In [74]:
my_set = {1, 2, 3, 4, 5}
length = 0
for _ in my_set:
    length += 1
 
print("Length of the set:", length)

Length of the set: 5

6. Clear all elements from a set.

In [76]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
 
print("Set after clearing:", my_set)

Set after clearing: set()

7. Create a set of even numbers from 1 to 10.

In [77]:
even_numbers_set = {num for num in range(1, 11) if num % 2 == 0}
 
print("Set of even numbers:", even_numbers_set)

Set of even numbers: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [78]:
odd_numbers_set = {num for num in range(1, 11) if num % 2 != 0}
 
print("Set of odd numbers:", odd_numbers_set)

Set of odd numbers: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [79]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_result_method = set1.union(set2)
union_result_operator = set1 | set2

print("Union using union() method:", union_result_method)
print("Union using | operator:", union_result_operator)

Union using union() method: {1, 2, 3, 4, 5, 6, 7, 8}
Union using | operator: {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [80]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
 
intersection_result_method = set1.intersection(set2)
 
intersection_result_operator = set1 & set2
 
print("Intersection using intersection() method:", intersection_result_method)
print("Intersection using & operator:", intersection_result_operator)

Intersection using intersection() method: {4, 5}
Intersection using & operator: {4, 5}

11. Find the difference between two sets.

In [81]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
 
difference_result_method = set1.difference(set2)
difference_result_operator = set1 - set2
 
print("Difference using difference() method:", difference_result_method)
print("Difference using - operator:", difference_result_operator)

Difference using difference() method: {1, 2, 3}
Difference using - operator: {1, 2, 3}

12. Check if a set is a subset of another set.

In [82]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}
 
is_subset_method = set2.issubset(set1)
is_subset_operator = set2 <= set1
 
print("Is set2 a subset of set1 using issubset():", is_subset_method)
print("Is set2 a subset of set1 using <= operator:", is_subset_operator)

Is set2 a subset of set1 using issubset(): True
Is set2 a subset of set1 using <= operator: True

13. Check if a set is a superset of another set.

In [83]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

is_superset_method = set1.issuperset(set2)
is_superset_operator = set1 >= set2
 
print("Is set1 a superset of set2 using issuperset():", is_superset_method)
print("Is set1 a superset of set2 using >= operator:", is_superset_operator)

Is set1 a superset of set2 using issuperset(): True
Is set1 a superset of set2 using >= operator: True

14. Create a set from a list.

In [84]:

my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
 
print("Set created from a list:", my_set)

Set created from a list: {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [85]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)

 
print("List converted from a set:", my_list)

List converted from a set: [1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [86]:
my_set = {1, 2, 3, 4, 5}
removed_element = my_set.pop()
 
print("Removed element:", removed_element)
print("Set after removal:", my_set)

Removed element: 1
Set after removal: {2, 3, 4, 5}

17. Pop an element from a set.

In [87]:
my_set = {1, 2, 3, 4, 5}
 
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Set after popping:", my_set)

Popped element: 1
Set after popping: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [88]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

no_common_elements = set1.isdisjoint(set2)

if no_common_elements:
    print("The sets have no elements in common.")
else:
    print("The sets have some common elements.")

The sets have no elements in common.

19. Find the symmetric difference between two sets.

In [89]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_difference_method = set1.symmetric_difference(set2)
symmetric_difference_operator = set1 ^ set2
 
print("Symmetric difference using symmetric_difference() method:", symmetric_difference_method)
print("Symmetric difference using ^ operator:", symmetric_difference_operator)

Symmetric difference using symmetric_difference() method: {1, 2, 3, 6, 7, 8}
Symmetric difference using ^ operator: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [90]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.update(set2)
print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [91]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
 
prime_numbers_set = {2, 3, 5, 7, 11}  
print("Set of the first 5 prime numbers:", prime_numbers_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [92]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}   
are_identical = set1 == set2

if are_identical:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [93]:
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)
 
print("Frozen set:", frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [94]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)
 
if are_disjoint:
    print("The sets are disjoint (have no elements in common).")
else:
    print("The sets have some common elements.")

The sets are disjoint (have no elements in common).

25. Create a set of squares of numbers from 1 to 5.

In [95]:
squares_set = {num**2 for num in range(1, 6)}
 
print("Set of squares:", squares_set)

Set of squares: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [96]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
 
filtered_set = {num for num in original_set if num % 2 != 0}
 
print("Filtered set (without even numbers):", filtered_set)

Filtered set (without even numbers): {1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [97]:
original_set = {1, 2, 3, 4, 5}
modified_set = {num * 2 for num in original_set}

print("Set after multiplying each element by 2:", modified_set)

Set after multiplying each element by 2: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [98]:
import random
 
random_set = {random.randint(1, 100) for _ in range(10)}  
 
print("Set of random numbers:", random_set)

Set of random numbers: {64, 98, 66, 2, 42, 43, 12, 15, 18, 95}

29. Check if a set is empty.

In [99]:
empty_set = set()

if not empty_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [100]:
nested_set = {frozenset({1, 2}), frozenset({3, 4, 5}), frozenset({6, 7, 8})}
 
print("Nested set:", nested_set)

Nested set: {frozenset({3, 4, 5}), frozenset({8, 6, 7}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [1]:
my_set = {1, 2, 3, 4, 5}
 
my_set.discard(3)
 
print("Set after removing element:", my_set)

Set after removing element: {1, 2, 4, 5}

32. Compare two sets.

In [2]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5}
 
print("Equality check:", set1 == set2)

print("Subset check:", set2.issubset(set1))   
 
print("Superset check:", set1.issuperset(set2))

Equality check: False
Subset check: True
Superset check: True

33. Create a set from a string.

In [4]:
my_string = "hello world"
 
my_set = set(my_string)
 
print("Set created from the string:", my_set)

Set created from the string: {'e', ' ', 'w', 'o', 'h', 'r', 'd', 'l'}

34. Convert a set of strings to a set of integers.

In [5]:
set_of_strings = {"1", "2", "3", "4", "5"}
 
set_of_integers = {int(x) for x in set_of_strings}
 
print("Set of integers:", set_of_integers)

Set of integers: {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [6]:
set_of_integers = {1, 2, 3, 4, 5}
 
set_of_strings = {str(x) for x in set_of_integers}
 
print("Set of strings:", set_of_strings)

Set of strings: {'5', '4', '3', '2', '1'}

36. Create a set from a tuple.

In [7]:
my_tuple = (1, 2, 3, 4, 5)
 
my_set = set(my_tuple)
 
print("Set created from the tuple:", my_set)

Set created from the tuple: {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [8]:
my_set = {1, 2, 3, 4, 5}
 
my_tuple = tuple(my_set)
 
print("Tuple converted from the set:", my_tuple)

Tuple converted from the set: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [9]:
my_set = {1, 5, 3, 8, 2}
 
max_value = max(my_set)
 
print("Maximum value in the set:", max_value)

Maximum value in the set: 8

39. Find the minimum value in a set.

In [10]:
my_set = {1, 5, 3, 8, 2}
 
min_value = min(my_set)
 
print("Minimum value in the set:", min_value)

Minimum value in the set: 1

40. Create a set from user input.

In [11]:
user_input = input("Enter elements separated by spaces: ")
 
user_set = set(user_input.split())
 
print("Set created from user input:", user_set)

Enter elements separated by spaces:  amit baghel

Set created from user input: {'amit', 'baghel'}

41. Check if the intersection of two sets is empty.

In [12]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
 
is_empty_intersection = set1.isdisjoint(set2)
 
if is_empty_intersection:
    print("The intersection of the sets is empty.")
else:
    print("The intersection of the sets is not empty.")

The intersection of the sets is empty.

42. Create a set of the first 5 Fibonacci numbers.

In [13]:
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set
 
fibonacci_set = generate_fibonacci(5)
 
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [14]:
original_list = [1, 2, 3, 4, 2, 3, 5, 6, 1]
 
unique_list = list(set(original_list))
 
print("List after removing duplicates:", unique_list)

List after removing duplicates: [1, 2, 3, 4, 5, 6]

44. Check if two sets have the same elements, regardless of their count.

In [15]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}
 
if set1 == set2:
    print("The sets have the same elements, regardless of their count.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements, regardless of their count.

45. Create a set of the first `n` powers of 2.

In [16]:
n = 5
 
powers_of_2_set = {2 ** i for i in range(n)}
 
print("Set of the first", n, "powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [17]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
 
common_elements = my_set.intersection(my_list)
 
print("Common elements:", common_elements)

Common elements: {3, 4, 5}

47. Create a set of the first `n` triangular numbers.

In [18]:
n = 5
 
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}
 
print("Set of the first", n, "triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [19]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}
 
if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

49. Create a set of alternating 1s and 0s of length `n`.

In [21]:
n = 10
 
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
 
print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

50. Merge multiple sets into one.

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
 
merged_set = set1.union(set2, set3)
 
print("Merged set using union():", merged_set)

Merged set using union(): {1, 2, 3, 4, 5, 6, 7}